body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
  }
  
  h1 {
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.625em;
    color: #0e0e0e;
  
  }
  
  h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;
    padding: 10px;
  
  
  }
  
  h3 {
    font-family: 'Montserrat', sans-serif;
    color: #11999E;
  }
  
  hr {
      border-style: none;
      border-top-style: dotted;
      border-color: #03fb0c;
      border-width: 5px;
      width: 6%;
      margin: 100px auto;
  }
  
  p{
    line-height: 2;
  }
  
  .top {
    /*height: 200px; */
    /*width: 200px; */
    /*padding: 20px; */
    /* margin: 10px; */
    background-color: #e6f8f9;
    /*border: solid 10px; */
    position: relative;
    padding-top: 100px;
    margin-top: 0;
  }
  
  .middle {
    margin : 50px 0;
  }
  
  .bottom {
    background-color: #dcd797;
    padding: 50px 0 20px;
  }
  
  .ul {
    text-decoration: underline;
  }
  
  a{
    color: #7044dd;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
  }
  
  a:hover{
    color: #161712;
  }
  
  
  .top-cloud {
    position: absolute;
    right: 300px;
  
  }
  
  .bottom-cloud {
    position: absolute;
    left: 250px;
  /*  bottom: 300px; */
  }
  
  .skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
  
  }
  
  .code-img {
    width: 25%;
    float: left;
    margin-right: 30px;
  }
  
  .information-img {
    width: 25%;
    float: right;
    margin-left: 30px;
  }
  
  .me-img{
    width: 15%;
    margin: 30px;
  }
  
  .contact-message{
    width: 40%;
    margin: 40px auto 60px;
  }
  
  .intro{
    width: 30%;
    margin: auto;
  }
  
  .btn {
    background: #30e3cb;
    background-image: linear-gradient(to bottom, #30e3cb, #84be2c);
    border-radius: 8px;
    font-family: 'Merriweather', serif;
    color: #ffffff;
    font-size: px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #3cb0fd;
    background-image: linear-gradient(to bottom, #3cb0fd, #6c3ff5);
    text-decoration: none;
  }
  
  .copyright{
    color: #f9fbfb;
    font-size: 0.75rem;
    padding: 20px 0;
  }
  